{{> header}}

{{> navbar}} 

<div class="row">

    <div class="col-8">
        <h1>
            Imagen de Node
        </h1>
        <p>
            Este texto es de relleno
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/nodejs_logo.png" class="img-thumbnail">
    </div>

</div>

{{> footer}}